<div class="card create-post shadow-sm">
  <div class="card-body">
      <form class="needs-validation" action="{% url 'create_post' %}" method="POST">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-sm-12">
            <textarea class="form-control" name="body" id="body" rows="3" required></textarea>
            <small class="text-body-secondary">Share your thoughts with your network here.</small>
            <div class="invalid-feedback">
                A valid description is required.
              </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Post!">
        </div>
      </form>
  </div>
</div>
